@font-face {
    font-family: Lovelo;
    src: url('fonts/Lovelo-LineLight.ttf');
}

@font-face {
    font-family: Sprague;
    src: url('fonts/sprague.ttf');
}

@font-face {
    font-family: Bavro;
    src: url('fonts/Bavro-Regular.otf');
}


.root{
    -fx-font-size: 16pt;
    -fx-font-family: Bavro;
    -fx-base: #34495e;
    -fx-background-color:
        #090a0c,
        linear-gradient(#3498db, #9b59b6),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));;
}

.labelTitle{
    -fx-alignment: center;
    -fx-font-size: 100pt;
    -fx-text-fill: #ecf0f1;
    -fx-font-family: Sprague;
}


.button{
    -fx-background-color:
            #090a0c,
            linear-gradient(#95a5a6, #7f8c8d);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Lovelo";
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-size: 24px;
    -fx-padding: 15 30 15 30;
}

.button:focused {
    -fx-background-color:
            #090a0c,
            linear-gradient(#34495e, #2c3e50);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: #16a085;
}


.boardSquare {
    -fx-background-color: #fff;
    -fx-fill: #fff;
    -fx-cell-hover-color: #fff;
}
